.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    max-width: 1128px;
    margin: 0 auto;
}

.gallery li {
    width: calc((100% - 48px) / 3);
    max-height: 200px;
}

.gallery img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}